[submodule "src/busybox"]
	path = src/busybox
	url = git://git.busybox.net/busybox
[submodule "src/linux"]
	path = src/linux
	url = https://gitlab.com/pine64-org/linux.git
	branch = pine64-kernel-ubports
[submodule "src/e2fsprogs"]
	path = src/e2fsprogs
	url = https://git.kernel.org/pub/scm/fs/ext2/e2fsprogs.git
